{erlydtl_opts, [
	debug_info,
	{doc_root, "templates"}
]}.

{deps, [
	{jiffy,   {git, "git://github.com/davisp/jiffy.git",      {branch, "master"}}},
	{erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}},
	{cowboy,  {git, "https://github.com/extend/cowboy.git",   {branch, "master"}}},
	{lager,   {git, "git://github.com/basho/lager",           {branch, "master"}}}
]}.

{provider_hooks, [
	{post, [
		{compile, {erlydtl, compile}}
	]}
]}.
