{deps, [
	{lrw,     {git, "https://github.com/ferd/lrw",        {branch, "master"}}},
	{vegur,   {git, "https://github.com/heroku/vegur",    {branch, "master"}}},
	{pubsub,  {git, "https://github.com/ricecake/pubsub", {branch, "master"}}},
	{lager,   {git, "https://github.com/basho/lager",     {branch, "master"}}}
]}.
